@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: transparent; /* Сделали фон прозрачным */
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

.bg-glass {
  background: rgba(70, 240, 240, 0.7); /* Уменьшили непрозрачность */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 12px;
}
