@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --bg-opacity: 0.5;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh; /* динамическая высота viewport на мобилках */
  z-index: -1;
  pointer-events: none;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: var(--bg-opacity);
}
